.page.theme_light {
  --main-color:  #FFF1F7;
  --decorated-elements-color: #353430;
  --menu-text-color: #353430;
  --menu-border-color: #353430;
  --title-color: #FFC2E6;
  --text-background-color: #FF8DCB;
  --main-title-color: #353430;
  --subtitle-text-color: #353430;
  --description-text-color: #353430;
  --title-shadow-color: #FF0070;
  --link-shadow-color: #FF8DCB;
  --hover-button-color: #32312D66;
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color:  #FFF1F7;
    --decorated-elements-color: #353430;
    --menu-text-color: #353430;
    --menu-border-color: #353430;
    --title-color: #FFC2E6;
    --text-background-color: #FF8DCB;
    --main-title-color: #353430;
    --subtitle-text-color: #353430;
    --description-text-color: #353430;
    --title-shadow-color: #FF0070;
    --link-shadow-color: #FF8DCB;
    --hover-button-color: #32312D66;
    --background-image: url(../images/cover-image-light.png);
    }
}