.page {
  font-family: 'IBM Plex mono', monospace;
  background-image: var(--background-image);
  background-color: var(--main-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  gap: 40px;
}

@media (min-width: 768px) {
  .page {
    gap: 60px;
  }
}

.header {  
  display: grid;
  padding-inline: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

@media (min-width: 768px) {
  .header {
    min-block-size: 1024px;
    padding-inline-start: 0;
    padding-inline-end: 20px;
  }
}

@media (min-width: 1024px) {
  .header {
    min-block-size: 768px;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: " ";
  border-block-end: 1px solid var(--decorated-elements-color);
  border-inline-start: 1px solid var(--decorated-elements-color);
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  inline-size: 25px;
  block-size: 25px;
}

@media (min-width: 768px) {
  .decorated-zone::before {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }
}

.decorated-zone::after {
  content: " ";
  border-block-start: 1px solid var(--decorated-elements-color);
  border-inline-end: 1px solid var(--decorated-elements-color);
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  inline-size: 25px;
  block-size: 25px;
}

@media (min-width: 768px) {
  .decorated-zone::after {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }
}

.header__decorated-element {
  position: absolute;
  inset-inline-end: 20px;
  inset-block-start: 10px;
  z-index: -1;
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 9px;
}

@media (min-width: 768px) {
  .header__decorated-element {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }
}

.header__decorated-element::before {
  content: "rec";
  text-transform: uppercase;
  font-size: 18px;
  color: var(--decorated-elements-color);
  visibility: var(--decorated-element-visibility);
}

.header__decorated-element::after {
  content: " ";
  width: 9px;
	height: 9px;
	background-color: var(--decorated-elements-color);
	border-radius: 50px;
  box-shadow: 0px 0px 4px 2px var(--decorated-elements-color);  
  visibility: var(--decorated-element-visibility);
}

.header__theme-menu {
  justify-self: end;
  padding-block-start: 75px;
  font-size: 18px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .header__theme-menu {
    padding-block-start: 190px;
    padding-block-end: 10px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-block-start: 20px;
    padding-block-end: 105px;
    padding-inline-start: 20px;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--menu-text-color);
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    justify-content: space-between;
  }
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button {
  text-transform: lowercase;
  inline-size: 70px;
  block-size: 26px;
  transition: 0.5s;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-border-color);
  pointer-events: none
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-button-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--menu-text-color);
}

@media (min-width: 768px) {
  .header__title {
    justify-self: start;
    align-self: start;
  }
}

@media (min-width: 1024px) {
  .header__title {
    justify-self: start;
    align-self: center;
  }
}

.header__description {
  align-self: start;
  margin-block-end: 5px;
}

@media (min-width: 768px) {
  .header__description {
    justify-self: end;
    inline-size: 364px;
    margin-block-end: 15px;
  }
}

@media (min-width: 1024px) {
  .header__description {
    inline-size: 491px;
    margin-block-start: 70px;
  }
}

.title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
  font-weight: 700;
  line-height: 95.7px;  
}

@media (min-width: 1024px) {
  .title{
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  }
}

.header__description {
  background-color: var(--text-background-color);
  color: var(--subtitle-text-color);
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: column;
  padding-inline: 10px;
  gap: 50px;
}

@media (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-inline: 20px;
  }
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section-block {
  display: grid;
  gap: 20px;
}

.main__section-block-content {
  display: grid;
  gap: 10px;
}

@media (min-width: 768px) {
  .main__section {
    grid-template-columns: 1fr 2fr;
  }

  .section-why .main__section-block {
    grid-column-start: 2;
  }

  .section-advices .main__section-block {
    grid-column: 2;
  }

  .section-causes .main__section-block {
    grid-column: 1 / span 2;
  }
}

@media (min-width: 1024px) {
  .main__section {
    grid-template-columns: 1fr 2.06fr;
  }

  .section-causes .main__section-block {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-causes .main__section-title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .section-causes .main__section-block-content {
    grid-column: span 1;
  }
}

.main__section-title {
  color: var(--main-title-color);
}

.main__section-subtitle {
  background-color: var(--text-background-color);
}

.main__section-description-text {
  color:var(--description-text-color);
}

.link {
  display: inline-block;
  text-shadow: 2px 2px 0 var(--link-shadow-color);
  text-decoration: none;
  transition: 0.5s;
}

.link:hover {
  border-block-end: 1px solid var(--description-text-color);
}

.link:focus-visible {
  outline: 1px solid var(--description-text-color);
}

.main__section-title,
.main__section-subtitle-text,
.main__section-description-text,
.main__section-advice-subtitle-text,
.header__description {
  font-size: 18px;
  line-height: 23.4px;
}

.main__section-subtitle-text,
.main__section-advice-subtitle-text {
  color: var(--subtitle-text-color)
}

.advice-subtitle {
  align-self: start;
}

.main__section-advice-subtitle-text {
  font-weight: 400;
}

.main__section-gallery {
  display: grid;
  gap: 10px;
}

@media (min-width: 768px) {
  .main__section-gallery {
    gap: 20px;
  }
}

.main__section-gallery-items {
  display: grid;
  gap: 10px;
  font-size: 0;
}

@media (min-width: 768px) {
.main__section-gallery-items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);  
}

.main__section-gallery-item:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.main__section-gallery-item:nth-child(2) {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}

.main__section-gallery-item:nth-child(3) {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}

.main__section-gallery-item:nth-child(4) {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.main__section-gallery-item:nth-child(5) {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}
}

.main__section-gallery-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid; 
  block-size: 100vh;
  min-block-size: 668px;
  align-items: center;
  justify-items: center;
}

@media (min-width: 768px) {
  .footer {
    min-block-size: 1024px;
  }
}

@media (min-width: 1024px) {
  .footer {
    min-block-size: 768px;
  }
}

.footer p {
  text-shadow: 2px 2px 0 var(--title-shadow-color);
}
